@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.back-image {
  background-image: url(/src/pictures/images/login-background1.png) !important;
  background-size: 50vw;
  width: 100vw;
  height: 100vh;
}
.loginForm {
  margin-top: 200px;
  margin-left: 65%;
  width: 490px;
  height: 507px;
  padding: 50px;
  background-color: #fff;
  border-radius: 5%;
}
.form-input {
  display: block;
  color: blue;
}
.form-input::placeholder {
  border-radius: 10px;
}
.ant-form-item-required {
  color: #f17228 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px !important;
}
.login-title {
  color: #f17228;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  background-image: url(../pictures/icons/logo.png);
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 110px;
}
.forgot-pass {
  border: none;
  color: #f17228;
  background-color: #fff;
  box-shadow: none;
  left: 260px;
  bottom: 80px;
  text-decoration: underline !important;
}
.login-button {
  width: 422px;
  height: 40px;
  border: 1px solid #f17228;
  color: #fff;
  border-radius: 25px;
  background-color: #f17228;
  right: 140px;
}
.ant-input-affix-wrapper {
  width: 400px;
  border-radius: 25px;
}
.ant-input {
  width: 400px;
  border-radius: 25px;
}
.ant-form-item-required::before {
  content: none !important;
}
